.Navbar {
	background-color: rgba(0,0,0, 0.7);
	overflow: hidden;
	z-index: 2;
	position: fixed;
	top: 0;
	right: 0;
	width: 100%;
	height: 50px;
	display: flex;
	justify-content: center;
}

.Navbar a {
	margin: auto 2em auto;
	font-family: 'Playfair Display SC';
	font-size: 1.25em;
	color: tan;
	text-align: center;
	transition: color linear 0.15s;
}

.Navbar-collapse {
	margin: auto 2em auto;
	color: tan;
	height: 2em;
	display: none;
}


.Navbar a:hover {
	color: beige;
	text-decoration: none;
}



@media (max-width: 280px) {

	.Navbar a {
		margin: auto;
		font-size: 1em;
	}

}


/* Media Query for Mobile Devices */
@media (min-width: 281px) and (max-width: 480px) {
	
	.Navbar a {
		margin: auto;
	}

}


/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px) {


}

/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px){

	.Navbar {
		height: 100px;
	}

	.Navbar a {
		font-size: 2em;
		margin: 1em auto auto;
	}

}